{% extends 'posts/default.html' %}

{% block content %}
  <h1>
    {% if 'news' in request.path %}
      Редактирование новости
    {% else %}
      Редактирование статьи
    {% endif %}
  </h1>
  <form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="{{ form.title.id }}">{{ form.title.label }}</label>
      {{ form.title }}
    </div>
    <div class="mb-3">
      <label for="{{ form.text.id }}">{{ form.text.label }}</label>
      {{ form.text }}
    </div>
    <div class="mb-3">
      <label for="{{ form.category.id }}">{{ form.category.label }}</label>
      {% for category in form.category %}
        <div class="form-check">
          {{ category }}
        </div>
      {% endfor %}
    </div>
    <div class="mb-3">
      <label for="{{ form.author.id }}">{{ form.author.label }}</label>
      {{ form.author }}
    </div>
    <input class="btn btn-primary" type="submit" value="Сохранить" />
    <input class="btn btn-light" type="button" onclick="history.back();" value="Отменить"/>
  </form>
{% endblock content %}